{%extends "base.html" %}
{% load static %}

{% block content %}


<div class="container">
  
	<div class="row">
    

    
    <!--start-->
    {% for event in Events %}
<div class="col-sm-6 col-md-4 col-lg-3 mt-4" >
            <div class="card">
              <img class="card-img-top" id ="imEvent" src="{{event.image.url}}">                    
                <div class="card-block">
                    <figure class="profile">
                        <img src="{{event.organizer.image.url}}" class="profile-avatar" alt="">
                        
                    </figure>
                    <a href="#" style="color:bla"><p>{{event.organizer.company_name}}</p></a>
                    <h4 class="card-title">{{ event.title }}</h4>
                    <div class="meta">
                        <a>{{ event.date }} | {{ event.time }}</a>
                    </div>
                    <div class="meta">
                        <a>in <b>{{ event.location }}</b> </a>
                    </div>
                    <div class="card-text">{{event.description}}</div>
                </div>
                 
                <div class="card-footer tab-card-header ">
                  <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="one-tab" data-toggle="tab" href="#{{event.id}}" role="tab" aria-controls="One" aria-selected="true">Gold </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="two-tab" data-toggle="tab" href="#{{event.id}}+1" role="tab" aria-controls="Two" aria-selected="false">Selver</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="three-tab" data-toggle="tab" href="#{{event.id}}+2" role="tab" aria-controls="Three" aria-selected="false">Scopper</a>
                    </li>
                  </ul>
                </div>
                
                <div class="tab-content" id="myTabContent" >
                  <div class="tab-pane fade show active p-3" id="{{event.id}}" role="tabpanel" aria-labelledby="one-tab"style="background-color: gold">
                    <h5 class="card-title">{{event.first_class_price}} DH</h5>
                    <a href="#" class="btn btn-primary">Add to cart</a>              
                  </div>
                  <div class="tab-pane fade p-3" id="{{event.id}}+1" role="tabpanel" aria-labelledby="two-tab"style="background-color:silver">
                    <h5 class="card-title">{{event.second_class_price}} DH</h5>
                    <a href="#" class="btn btn-primary">Add to cart</a>              
                  </div>
                  <div class="tab-pane fade p-3" id="{{event.id}}+2" role="tabpanel" aria-labelledby="three-tab"style="background-color: white">
                    <h5 class="card-title">{{event.third_class_price}} DH</h5>
                    <a href="#" class="btn btn-primary">Add to cart</a>              
                  </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!--End-->
        
      
</div>
</div>



{%endblock%}