{% extends 'base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link rel="stylesheet"  href="{% static 'css/Inscription.css' %}">
    <h2></h2><br>
    <form method="post" action="" id="form" class=" needs-validation"  enctype="multipart/form-data" novalidate >
        {% csrf_token %}
        <h2 class="signupuser">Sign In</h2>
        <!--{{ form.as_p }}-->

        <label for="validationServer01" >First Name:</label>
        <input type="text" class="form-control" id="validationServer01" name="Nom" required>
        

        <label for="validationServer02">Second Name:</label>
        <input type="text" class="form-control" id="validationServer02" name="Prenom" required>
        

        <label for="validationServer03">Email:</label>
        <input type="email" class="form-control" id="validationServer03" name="Email" required>
        

        <label for="validationServer04">Password:</label>
        <input type="password" class="form-control" id="validationServer04" name="password" required>

        <label for="validationServer05">Conferm Password:</label>
        <input type="password" class="form-control" id="validationServer05" name="password1" required>

        <button type="submit">Sign In</button>
    </form>



<script>

        (() => {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
    })()

</script>
{% endblock %}


