form {
  max-width: 700px;
  margin:  auto;
  padding: 30px;
  background-color: #ffffff;
  border: rgba(0, 0, 0, 0.4) solid;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);

}

.connuser {
  text-align: center;
  margin-bottom: 20px;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="datetime-local"],
form input[type="password"]
{
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

form button[type="submit"] {
   background-color: #4CAF50;
  color: white;
  padding: 10px ;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display:block ;
}

button[type="submit"]{
  width: 100%;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}
form button[type="submit"]:hover {
  background-color: #3e8e41;
}

.connuser {
  text-align: center;
}
form .liens{
  padding-left: 40%;
}