/*#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
}*/

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}