{%extends "Administrateur/admin_base.html" %}
{% load static %}

{% block content %}
<table class="table" style="background-color:white" >
    <caption>
      <!-- Render pagination links -->
      <div class="pagination">
          <span class="step-links">
              {% if clients.has_previous %}
                  <a href="?page={{ clients.previous_page_number }}">previous</a>
              {% endif %}
              <span class="current-page"> &nbsp;&nbsp;page:&nbsp;{{ clients.number }}</span>
              {% if clients.has_next %}
                  <a href="?page={{ clients.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
  </caption>
  <thead>
    
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Phone number </th>
      <th scope="col">Created </th>
      <th scope="col">updated </th>

    </tr>
  
  </thead>
  <tbody>
    {% for client in clients %}
    <tr>
      <th scope="row">{{client.id}}</th>
      <td>{{client.user.first_name}} {{client.user.last_name}}</td>
      <td>{{client.user.email}}</td>
      <td>{{client.address}}</td>
      <td>{{client.phone_number}}</td>
      <td>{{client.created}}</td>
      <td>{{client.update}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock  %}