{%extends "Administrateur/admin_base.html" %}
{% block content %}
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1 style="padding-left: 40%">Notification</h1>
{% for notification in notifications %}

<div class="w3-container w3-content">
    <div class="w3-panel w3-white w3-card w3-display-container">
        <span class="w3-display-topright w3-padding w3-hover-red"><a href="{% url 'ticket:delete_notification' pk=notification.id %}">X</a></span>
       <p>{{notification.message}}</p>
       <p >{{notification.date}}</p>
    </div>
</div>
{% endfor %}
{% endblock %}